# SQL Server
SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DB=nome_banco
SQLSERVER_USER=usuario
SQLSERVER_PASSWORD=senha
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nome_banco
POSTGRES_USER=usuario
POSTGRES_PASSWORD=senha